@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');


/* GLOBAL  */
:root {
    --header-bg-color: #46617A; 
    --navbar-bg-color: #90C7FB;
    --card-struct-color: tomato;
    --card-grid-text: #212E3B;
    --card-bg-color: white;
    --content-bg-color: rgb(222, 222, 222);
    --card-shadow-color: #888888;

    --font-family-global: 'Carter';
    --font-family-header:  'Ranchers', cursive;
    
}

html {
    box-sizing: border-box;
    font-family: var(--font-family-global);
    scroll-behavior: smooth;
  }

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
  }

body{
    min-width: 320px;
    min-height: 480px;
    max-width: 1920px;
    max-height: 1080px;
}

/* ******************************************************* */
/* PAGE HEADER */
.page-header{
    display: block;
    height: 12vh;
    min-height: 57.6;
}

.page-header > h1{
    /* color: var(--navbar-bg-color);
    background-color: var(--header-bg-color);
    padding: 0px;
    margin: 0px;
    height: 8vh;
    font-weight: normal;
    font-family: var(--font-family-header);
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; */

    /* base */
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--navbar-bg-color);
    background-color: var(--header-bg-color);
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font-family-header);
    padding: 0px;
    margin: 0px;
    height: 8vh;

    font-weight: normal;
    font-size: 2rem;
    transition: font 750ms ease-in-out;
    
}

/* NAVIGATION MENU */

.navbar{

    height: 4vh;
    min-height: 19.2;
    background-color: var(--navbar-bg-color);
    z-index: 1;
}

.navbar a{
    
    background-color: var(--navbar-bg-color);
    height: 4vh;
    text-decoration: none;
    text-transform: uppercase; 
    font-size: 0.75rem;
    padding: 2px;

    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    transition: font 750ms ease-in-out;
    j
}

.navbar a:hover{
    background-color: var(--card-struct-color);
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    position: relative;
    width: 100%;
    text-align: center;
}
/* sub-menus */
/* .navbar li:hover .submenu-1 li{
    top: 0;
    display: block;
}

.submenu-1 li{
    display: none;
    position: relative;
    border-bottom: 1px solid var(--header-bg-color);
}

.submenu-1{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
} */


/* ******************************************************* */
/* CONTENT AREA */
.page-content{
    background-color: var(--content-bg-color);
    height: 84vh;
    /* min-height: 403.2px; */
    /* border: 2px dotted darkblue; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

/* CONTENT AREA - SUB-TITLE */
.content-header{
    
    background-color: var(--content-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 8vh;
}

.content-header > h2{
   
    font-size: 1.5rem;
    padding: 0px;
    margin-left: 10vw;
    color: var(--header-bg-color);
    
}

/* CONTENT AREA - CONTENT-SECTION */
section{
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* border: 3px dotted blue; */
}

/* ******************************************************* */
/* CONTENT AREA - WRAPPER for jogos and cartelas */
.game-wrapper{
    width: 100%;
    height: 100%;
    /* border: 3px solid red; */

}

.contact-wrapper{

    padding: 30px;
    overflow: auto;
   
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;

    text-align: center;
    font-family: var(--font-family-global);
    color: var(--header-bg-color);


}

/* ******************************************************* */
/* EDITABLE CARD: card-edit and other 'edit' elements' are the editable card and elements we use to add a new card*/
#cartelas .game-wrapper{
    display: block;
    overflow: auto;
}

.card-board{
    /* background-color: yellow; */
    /* border: 4px solid yellowgreen; */
    padding: 0px;
    overflow: auto;
   
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}


/* each card board has 6 card positions */
.card-board-position{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 8vw;
        background-color: var(--navbar-bg-color);
        border: 2px dotted var(--header-bg-color); 
        color: var(--header-bg-color);
        border-radius: 15px;
        width:  240px; 
        height: 280px;
        transition: transform 200ms ease-in-out ;  
}

@keyframes fadeIn {
    from {
        opacity: 0;
        /* transform: translateY(-10px);  */
    }
    to {
        opacity: 1;
        /* transform: translateY(0px);  */
    }
}


@keyframes fadeOut {
    from {opacity: 1; }
    to {opacity: 0;   }
}

.card-board-position-edit{
    border: 0px; 
    background-color: transparent;
}

.card-board-position:hover{
    transform: scale(1.1);
}

.add-symbol{
    cursor: pointer;
    font-size: 3.5rem;
    margin: 0px;
    padding: 0px;
    transition: transform 300ms ease-in-out ;
}

.add-symbol:hover {
    transform: scale(2);
}

.card-board-position:hover { 
    border: 1px solid var(--header-bg-color);
    box-shadow: 10px 10px 8px var(--card-shadow-color);

}

.card-edit {
    /* border: 1px solid black; */
    position: relative;
    background-color: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.3rem;
    width:  240px; 
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 8px var(--card-shadow-color);
}

.grid-edit-numbers{
    border: 1px solid var(--card-grid-text);
    background-color: var(--card-struct-color);
    box-shadow: 10px 10px 8px var(--card-shadow-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(6, auto);
    grid-auto-flow: column;
    grid-gap: 2px;   
    padding: 5px;
    margin-left: 0;
    text-align: center;  
    height: 280px;
    width:  240px; 
}



.card-header{
    background-color: var(--card-bg-color);
    font-weight: bold;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-number{
    border: 1px solid var(--card-grid-text);
    background-color:  var(--card-bg-color);
    text-transform: uppercase;
    margin: 0;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-central-element{ 
    background-color: var(--navbar-bg-color);
    cursor: default;
}

.number-edit-panel{
    display: none;
    position: absolute;
    background-color: var(--content-bg-color);
    border: 2px solid var(--card-grid-text);
    border-radius: 10px;
    width: 230px; 
    height: 218px;
    top: 45px;
    overflow: hidden;
}

.number-edit-panel-active{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    grid-gap: 2px; 
}

.editable-number{
    color: var(--card-struct-color);
}

.editable-number:hover{
    background-color: var(--navbar-bg-color);
}

.editable-number-selected{
    color: var(--card-grid-text);
}

.number-option{    
    border: 1px solid white;
    color: #0420B6;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.number-option:hover{
    background-color: var(--navbar-bg-color);
}

.card-identifier-edit{
    background-color: var(--card-bg-color);
    border-radius: 10px;
    color: var(--card-struct-color);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    font-weight: bold;
}

.card-edit-btn-save , .card-edit-btn-remove{ 
    border-radius: 5px;
    padding: 5px;
    color: var(--card-grid-text);
    background-color: var(--card-bg-color);
    outline: none;
    font-weight: bold;
    font-size: 0.6rem;
    text-transform: uppercase;
}

.blink-btn{
    animation: blinkButton 2s infinite ease-in;
}

@keyframes blinkButton{
    0%   {background-color: white;}
    20%  {background-color: orange;}
    40%  {background-color: tomato;}
    50%  {background-color: red;}
    60%  {background-color: tomato;}
    80%  {background-color: orange;}
    100% {background-color: white;}
}

.id-number-edit{
    text-align: center;
    outline: none;
    color: var(--card-struct-color);
    border: 0px;
    text-transform: uppercase;
}

/* ******************************************************* */
/* PLAYING CARD: card used to play by selecting numbers. not editable numbers. 
   note that: some styles here are inherinted by the editable card */
#jogos .game-wrapper{
    /* makes game-wrapper flex if body id=jogos */
    overflow: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    /* align-items: center; */
 }

.game-board{
    /* border: 3px dashed blue; */
    padding: 0px;
    overflow: auto;

    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-direction: row;
    flex-wrap: wrap;
}

/* each card board has 6 card positions */
.game-board-position{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        visibility: inherit;
        color: var(--header-bg-color);
        border-radius: 30px;
        transition: transform 200ms ease-in-out ;
        width:  240px; 
        height: 280px;
        margin: 10vw;
}


.card{
    text-transform: uppercase;
    margin: 0;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card-grid-numbers{
    border: 1px solid var(--card-grid-text);
    background-color: var(--card-struct-color);
    box-shadow: 10px 10px 8px var(--card-shadow-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(6, auto);
    grid-auto-flow: column;
    grid-gap: 2px;   
    padding: 5px;
    margin-left: 0;
    text-align: center;  
    height: 280px;
    width:  240px; 
}

.card-game-header{
    background-color: var(--card-bg-color);
    font-weight: bold;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-game-number{
    border: 1px solid var(--card-grid-text);
    background-color:  var(--card-bg-color);
    text-transform: uppercase;
    margin: 0;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.grid-central-element{ 
    background-color: yellow;
    cursor: default;
}


.card-game-number-active{
    background-color: var(--navbar-bg-color);
}

.card-identifier{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: var(--card-grid-text);
    box-shadow: 10px 5px 8px var(--card-shadow-color);
    border-radius: 5px;
    color: var(--card-struct-color);
   
}

.identifier-number{
    text-align: center;
    border: 0px;
    outline: none;
    color: var(--card-struct-color);
    text-transform: uppercase;
}



/* ******************************************************* */
/* FULL-BOARD : the board used to follow ALL pieces (numbers) announced during a game. (number records for checking at any time) */

.full-board{
    /* base: */
    background-color: var(--navbar-bg-color);
    box-shadow: 10px 10px 8px var(--card-shadow-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 240px; */
    align-self: center;
    transition: transform 400ms ease-in-out;
    /* border: 3px dashed blueviolet; */
    display: none;
    
}

.full-board-hidden{
    opacity: 0;
}

.full-board h3{
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 5px;
}

.full-board-grid{
    background-color: var(--card-struct-color);
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(16, auto);
    grid-auto-flow: column;
    grid-gap: 2px; 
    margin-top: 15px ;
    margin-bottom: 15px;
    padding: 3px;
    /* width: 200px; */
    /* height: 50px; */
}

.last-out{
    background-color: var(--card-bg-color);
    color: var(--card-struct-color);
    width: 70px;
    height: 70px;
    border: 1px solid var(--card-struct-color);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-board-header{
    background-color: var(--content-bg-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fb-number{
    background-color: var(--card-bg-color);
    color:  var(--navbar-bg-color);
    margin: 0px;
    padding: 3px;
    font-size: 1.3rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
}

.fb-number-selected{
    background-color: var(--header-bg-color);
    color:  var(--card-struct-color);

}
.full-board-reset-btn{
    border-radius: 5px;
    padding: 5px;
    color: var(--card-grid-text);
    background-color: var(--card-bg-color);
    outline: none;
    /* width: 50%; */
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
}

/* ******************************************************* */
/* FOOTER : still not convincend that we need it :-) */
footer{
    background-color: var(--header-bg-color);
    color: var(--navbar-bg-color);
    text-transform: capitalize;
    height: 4vh;
    
    width: 100%;
    /* position: absolute;
    bottom: 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ******************************************************* */
/*  BATIDAS grid of images explaining how to win */
.winning-wrapper{
    width: 100%;
    height: 100%;
    display: block;

  
}

.winning-list{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    
}

.winning-list li{
    font-size: 1.6rem;
    font-family: var(--font-family-global);
    color: var(--card-grid-text);
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    list-style-type: none; 
    margin: 30px;   
    opacity: 1;
}

.batida-item{
    text-transform: lowercase;
}

.batida-item-fade{
    opacity: 0.2;
}

.img-batidas{
    border-radius: 8px;
    width: 160px;
    position: relative;
    box-shadow: 5px 5px 10px var(--card-shadow-color);
    margin: 20px;
    transition: transform 350ms ease-in-out;
}

/* .img-batidas:hover  {
    transform: scale(1.3);
    
} */


/* *********************************************************** */
 /* MEDIA QUERIES */
/* *********************************************************** */

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {

    
    /* edit card */
    #cartelas .card-board{
        animation: fadeIn 350ms forwards;  
    }
    #cartelas .card-board-position{
        transform: scale(1);
    }
    /* game-card */
    #jogos .game-board{
        animation: fadeIn 350ms forwards;  
        /* position: relative; */
    }
    #jogos .game-board-position{
        transform: scale(1);
    }
    #batidas section{
        overflow: auto;
    }

    #jogos section{
        overflow: auto;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    /* edit card */
    .page-header h1{
        font-size: 2rem;
    }

    .navbar a {
        font-size: 0.8rem;
        padding: 2px;
    }

    /* game wrapper for card edit */
    #cartelas .game-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: flex-start; 
        
    }
    /* card-board becomes a grid with 2 colums */
    #cartelas .card-board{
       /*  display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center; */
        animation: fadeIn 350ms forwards;
    }
    #cartelas .card-board-position{
        margin:5vw;
        transform: scale(0.95);
    }

    /* game-card:  game wrapper for playing card */
    #jogos .game-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
    }
    /* game-board becomes a grid with 2 colums */
    #jogos .game-board{
        /* display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center; */
        justify-content: center;
        animation: fadeIn 350ms forwards;            
    }
    #jogos .game-board-position{
        margin:5vw;
        transform: scale(0.95);
    }

    #batidas section{
        overflow: auto;
    }

    #jogos section{
        overflow: auto;
    }
    
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    /* edit card */
    #cartelas .card-board{
        animation: fadeIn 350ms forwards;
    }

    #cartelas .card-board-position{
        margin:4vw;
        transform: scale(1);
    }

    /* game card */
    #jogos .game-wrapper{
      flex-direction: column-reverse;
      /* transform: scale(0.9); */
      gap: 20px;

    }

    #jogos .game-board{
        animation: fadeIn 350ms forwards;
    }

    #jogos .game-board-position{
        margin:4vw;
        transform: scale(1);
    }

    #jogos .full-board{
        display: flex;
        flex-direction: column;
        position: relative;
        /* width: 600px;
        height: 220px; */
        /* width: 80vw; */
        /* height: 25vh; */
        min-height: 220px;
        width: 90%; 
        
    }

    .full-board-grid{
        grid-template-columns: repeat(16, auto);
        grid-template-rows: repeat(5, auto);
        grid-auto-flow: row;
        width: 80%;
        height: auto;
        position: relative;
        left: -40px;
        top: -15px;
    }

  
    .last-out{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 40px;
        right: 20px;
    }
    #full-board-reset-btn{
        position: absolute;
        top: 105px;
        right: 20px;
        width: auto;
    }


    #batidas section{
        overflow: auto;
    } 

   
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    /* edit card */
    #cartelas .card-board{
        /* display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center; */
        animation: fadeIn 350ms forwards;          
    }
    #cartelas .card-board-position{
        margin:3vw;
        transform: scale(0.8);
     
    }
    /* game card  */
    #jogos .game-wrapper{
        flex-direction: row;
        justify-content: space-between;
        height: unset;
        
      }

    #jogos .game-board{
       /*  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center; */
        animation: fadeIn 350ms forwards;   
        
         
    }
    #jogos .game-board-position{
        margin:1vw;
        transform: scale(0.8);
    }

    /* full board  */
    #jogos .full-board{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0.7vw;
        width: 240px;
        height: auto;
        position: sticky;
        top: 0;
        bottom: 0;

        width: 100%;
        max-width: 180px;
       /*  max-height: 600px; */
       
        position: relative;
        left: -5vh;
        /* min-height: 185px; */

        /* width: 80vw;
        height: 25vh;
        min-height: 185px;
        max-width: 600px; */
        /* transform: scale(1.2); */
        /* position: sticky; */
    }

    .full-board-grid{
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(16, auto);
        grid-auto-flow: column;
        /* width: 200px; 
        height: 50%; */

        position: relative;
        left: 0;
        top: 0;
     
    }

    .full-board h3{
        display: block;
    }

    .last-out{
        width: 70px;
        height: 70px;
        position: relative;
        left: 0;
        top: 0;
    }
    #full-board-reset-btn{
        position: relative;
        left: 0;
        top: 0;
        width: 50%;

    }
  
    #batidas .winning-list {
        display: block;
     
    }

    #batidas section{
        overflow: auto;
    }

    #jogos section{
        overflow: auto;
    }

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    /* edit card */
    #cartelas .card-board{
        animation: fadeIn 350ms forwards;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        gap: 5vh;
    }

    #cartelas .card-board-position{
        transform: scale(1.1);
    }

    #jogos .game-board{
        animation: fadeIn 350ms forwards;
    }

    .page-header h1{
        font-size: 4.2rem;
    }

    .navbar a {
        font-size: 1.4rem;
        padding: 2px;
    }

    #jogos .game-board-position{
        margin:3vw;
        transform: scale(1);
    }

    #jogos .full-board{
        /* transform: scale(1.2); */
        /* position: sticky; */
    }

    #jogos .game-wrapper{
        position: relative;
    }

    #batidas section{
        overflow: auto;
    }

    #jogos section{
        overflow: auto;
    }

    
     
 } 


  /* Extra large devices (large laptops and desktops, 1440px and up) */
  @media only screen and (min-width: 1440px) {

    .page-header h1{
        font-size: 4.5rem;
    }

    .navbar a {
        font-size: 1.6rem;
        padding: 3px;
    }

    #cartelas .card-board-position{
        transform: scale(1.2);
    }

    #jogos .full-board{
        /* transform: scale(1.2); */
    }

    #jogos .game-board-position{
        transform: scale(1.1);
    }

    #batidas section{
        overflow: auto;
    }

    #jogos section{
        overflow: auto;
    }

    #batidas .winning-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
    

} 


